@charset "UTF-8";

main section div:first-child{
    margin-left: 50px;
}

main section div{
    position: relative;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    color: #424242;
    float: left;
    margin-right: 30px;
}

section div:hover {
    cursor: pointer;
    color: #DD2C00;
}

#content {
    width: 1100px;
    min-height: 100px;
    margin: auto;
}


#detailSearchWrap {
    width: 1100px;
    hight: 200px;
    margin: 100px auto;
    position: relative;
    background: red;
}


#searchWrap{
    position: absolute;
    right: 0;
    top: 90px;
    margin: auto;
    /*background: red;*/
}

.inner_search{
    position: relative;
    left: 0;
    font-size: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}

#searchInput {
    transition: .4s ease;
    width: 250px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #424242;
    box-shadow: 0 1px #424242;
    padding: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    /*text-align: center;*/
    outline: none;
    /*display: none;*/
    left:0;
    position: relative;
}


.cursor_pointer {
    cursor: pointer;
}

.no_result{
    position: relative;
    width: 550px;
    height: 100px;
    /*background: palevioletred;*/
    left: 225px;
    border-radius: 30px;
    text-align: center;
    line-height: 120px;
    font-size: 25px;
    font-weight: bold;
}

.no_result_detail{
    position: relative;
    width: 700px;
    height: 180px;
    background: #e1e1e1;
    left: 150px;
    border-radius: 30px;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    padding: 20px;
    font-weight:700;
}

span{
    color: #00AAB4;
}

#searchNoResultWrap{
    position: relative;
    width: 1100px;
    margin: auto;
}